[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "todo.actions.d/setdue"]
	path = todo.actions.d/setdue
	url = https://github.com/severoraz/todo.txt-cli-setdue
[submodule "todo.actions.d/graph"]
	path = todo.actions.d/graph
	url = https://github.com/timpulver/todo.txt-graph.git
[submodule "todo.actions.d/due"]
	path = todo.actions.d/due
	url = https://github.com/rebeccamorgan/due.git
