[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "local/opt/fzf-git"]
	path = local/opt/fzf-git
	url = https://github.com/junegunn/fzf-git.sh.git
