[Unit]
Description=Borg backup service

[Service]
Type=dbus
Type=oneshot
ExecStart=%h/bin/backup.sh backup -s
TimeoutStopSec=120

[Install]
WantedBy=default.target
