[Desktop Entry]
Version=1.0
Type=Application
Name=PopcornTime
Icon={{ popcorntime_path }}/src/app/images/popcorntime.ico
Exec={{ popcorntime_path }}/linux64/Popcorn-Time
NoDisplay=false
Categories=AudioVideo;Player;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
Terminal=false
